

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Header / Nav */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 2rem; 
  border-bottom: 0.011rem solid rgb(255, 249, 249);
}

.logo {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: 2rem;
}

/* Hero */

.hero {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url('/images/cool-background.png');
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: white;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem; 
}

/* intro */

.intro {
  margin: 6rem;
  display: flex;
  text-align: center;
  font-size: 2rem;
  text-wrap: wrap;
  color: white;
}

/* About */

.about {
  
  text-align: center;
  color: white;
}

.about-content {
  display: flex;
}

.about h1 {
  font-family: "Alfa Slab One", serif;
  text-align: center;
  font-size: 3rem;
  margin:  2rem;
}

.about h3 {
  font-family: "Alfa Slab One", serif;
  font-size: 2rem;
  margin: 1rem;
}

.content img {
  height: 70%;
  width: 80%;
  margin: 1rem;
}


  