

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Header / Nav */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 2rem; 
  border-bottom: 0.011rem solid rgb(255, 249, 249);
}

.logo {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-size: 2rem;
}

.nav-container a:hover {
  cursor: pointer;
  color: #bdbdbd;
}

@media only screen and (max-width: 450px) {
  .nav-container ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

/* Hero */

.hero {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-image: url('/images/cool-background.png');
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: white;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem; 
}

/* intro */

.intro {
  margin: 8rem;
  display: flex;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.intro h2 {
  inline-size: 1.4;
}

@media only screen and (max-width: 450px) {
  .intro h2 {
    width: 100%;
    text-align:center;
    text-wrap: wrap;
    inline-size: 2;
  }
}

/* Event */
.event {
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

.event-content {
  display: flex;
  margin: 3rem;
}

.event h1 {
  font-family: "Alfa Slab One", serif;
  text-align: center;
  font-size: 3rem;
  margin:  2rem;
}

.event h3 {
  font-family: "Alfa Slab One", serif;
  font-size: 1rem;
  margin: 1rem;
}

.event-btn {
  margin-top: 1.2rem;
  height: 3rem;
  width: 30%;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-size: large;
}

.event-btn:hover {
  cursor: pointer;
  background-color: #bdbdbd;

}

@media screen and ( max-width: 450px) {
  .event-content {
    display: block;
  }
}


/* Something great */

.something-great .image-container img {
  
  width: 100%;
  
}



/* About */

.about {
  text-align: center;
  color: white;
  margin-bottom: 9rem;
}

.about-content {
  display: flex;
  margin: 3rem;
}

.about h1 {
  font-family: "Alfa Slab One", serif;
  text-align: center;
  font-size: 3rem;
  margin:  2rem;
}

.about h3 {
  font-family: "Alfa Slab One", serif;
  font-size: 2rem;
  margin: 1rem;
}

.about p {
  text-align: start;
  inline-size: 1.4;
  margin: 2rem;
}

.content img {
  height: 58%;
  width: 80%;
  margin: 1rem;
}

@media screen and ( max-width: 450px) {
  .about-content {
    display: block;
  }
}


/*  Join */

.join {
  text-align: center;
  color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.join-content h4 {
  font-family: "Alfa Slab One", serif;
  font-size: 2rem;
  margin: 2rem;
}

.join-content img {
  width: 70%;
}


footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid white;
  text-align: start;
  color: white;
}

footer .right {
  text-align: end;
}